<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wonderlust | Home</title>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>

<% layout("/layouts/boilerplate")%>

  <div class="home-container">
    <div class="welcome-box">
      <h1>Welcome to Wonderlust</h1>
      <p>
        This is a full-stack MERN hotel booking application developed by
        <strong>Shweta Rani</strong>.
      </p>
      <p>
        It demonstrates effective use of REST APIs, MongoDB, and scalable backend design, along with a responsive and modern UI.
      </p>
    </div>
  </div>

   <% layout("/layouts/boilerplate")%>

</body>
</html>
